body {
  padding-top: 20px;
  padding-bottom: 20px;
}
header h1 {
  font-size: 22px;
  line-height: normal;
}
header h2 {
  font-size: 16px;
  line-height: normal;
  font-style: italic;
}
form#simpleform div.form-group.has-success span.feedback-icon.success {
  display: block;
}
form#simpleform div.form-group.has-error span.feedback-icon.fail {
  display: block;
}
form#simpleform div.form-group span.feedback-icon {
  display: none;
  color: #3c763d;
  position: absolute;
  right: -10px;
  top: 10px;
}
form#simpleform div.form-group span.feedback-icon.fail {
  color: #a94442;
}
form#simpleform div.form-group p.error {
  display: none;
  float: left;
  position: relative;
  top: 5px;
  left: 0px;
  color: #a94442;
  padding: 1px 10px;
  border: 1px solid #a94442;
  border-radius: 4px;
}
