body {
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    h1 {
        font-size: 22px;
        line-height: normal;
    }

    h2 {
        font-size: 16px;
        line-height: normal;
        font-style: italic;
    }
}

form#simpleform {

    div.form-group {

        &.has-success {
            span.feedback-icon {
                &.success {
                    display: block;
                }

            }
        }

        &.has-error {
            span.feedback-icon {
                &.fail {
                    display: block;
                }
            }
        }

        span.feedback-icon {
            display: none;
            color: #3c763d;
            position: absolute;
            right: -10px;
            top: 10px;

            &.fail {
                color: #a94442;
            }
        }

        p.error {
            display: none;
            float: left;
            position: relative;
            top: 5px;
            left: 0px;
            color: #a94442;
            padding: 1px 10px;
            border: 1px solid #a94442;
            border-radius: 4px;
        }
    }

}
